@model Fix

<tr>
    <td>@Model.ItemToFix</td>
    <td>@Model.DateOfAdmission</td>
    <td>@Model.PasswordIfExist</td>
    <td>@Model.Barcode</td>
    <td>
        <form id="@Model.Barcode" asp-action="FixDetails" method="post">
            <input type="hidden" asp-for="Barcode" />
            @*Html.HiddenFor(f => f.Fix, fix);*@
            <button type="submit" class="btn btn-sm btn-success">
                Szczegóły
            </button>
        </form>
    </td>
    <td class="text-center">
        <form id="@Model.ID" asp-action="EditFix" asp-controller="Fix" method="get">
            <input type="hidden" asp-for="ID" />
            @*@{TempData["FixModel"] = JsonConvert.SerializeObject(fix);}
            @Html.HiddenFor(f => f.Fix, fix);*@
            <button type="submit" class="btn btn-sm btn-success">
                Edytuj naprawę (Wydaj)
            </button>
        </form>
    </td>
</tr>